.header {
  width: 100%;
  background: var(--body-bg);
  border-bottom: 1px solid var(--border-light);
  position: sticky;
  top: 0;
  z-index: 100;
}

.header-container {
  max-width: var(--width-container);
  margin: 0 auto;
  padding: var(--space-lg) var(--space);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 768px) {
  .header-container {
    padding: 1.5rem var(--space);
  }
}
