.description-left {
  height: fit-content;
  order: -1;
  flex: 1;
}

.description-right {
  height: fit-content;
  flex: 1;
}

.description-text {
  line-height: 2.5rem;
  color: rgb(212, 34, 38);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2rem;
}

.description-right .description-text {
  text-align: right;
}

.description-text a {
  color: rgb(212, 34, 38);
  text-decoration: underline;
}

@media (max-width: 768px) {
  .description-left {
    align-self: flex-start;
    flex: 0;
    order: 1;
    width: auto;
  }

  .description-right {
    align-self: flex-start;
    order: 2;
    flex: 0;
    width: auto;
    margin-top: 1rem;
  }

  .description-text {
    line-height: 2.3rem;
    font-size: 2rem;
  }

  .description-right .description-text {
    text-align: left;
  }
}
