---
import '../styles/language-switcher.css';

const currentLocale = Astro.currentLocale;
---

<div class="language-container">
  {currentLocale !== 'en' ? (
    <a href="/en" class="language-link" hreflang="en">
      EN
    </a>
  ) : (
    <a href="/" class="language-link" hreflang="nl">
      NL
    </a>
  )}
</div>
